#red {
   border: 3px solid red;
   background-color: var(--white);
}
.sign-in-grid{
   grid-template-columns:2fr 1fr !important;
}
@media (max-width: 500px) {
   .sign-in-grid{
      width: 100% !important;
   }
}