.user--container{
width: 100%;
display: flex;
justify-content: flex-end;
position: absolute;
bottom: 0;
max-height: 300px;
right: 0;
}
.avartarIcon{
   height: 25px;
}
.sub-cont{
   width: 350px;
   margin: 15px 0;
   box-shadow: var(--boxShadow);
   background: var(--primaryText);
   position: absolute;
   bottom: 0;
   right: 15px;
   max-height: 400px;
   flex-wrap: nowrap;
   overflow: auto;
   display: flex;
   flex-direction: column;
}
#user--header{
   background: var(--primary);
   color: var(--primaryText);
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
   transition: all 4s ease-in-out;
   position: fixed;
   width: inherit;
   z-index: 30;
   margin-bottom: 30px;
}
.empty{
   height: 100px;
   margin-top: 50px;
}
.no{
   display: none;
}
.cnnct{
   display: flex;
   align-items: center;
   gap: 5px;
   position: relative;
}

.green {
   color: green;
   font-size: 15px;
   margin: auto;
}
.btn{
   cursor: pointer;
   background: none;
   transform: translatey(0px);
   animation: float 1s ease-in-out infinite;
}
.btn:hover{
   animation: float 10000s ease-in-out infinite;
}

.circle{
   color: green;
   font-size: 30px;
   border-radius: 50%;
}
#hiddden{
   display: none;
}
#showw {
   margin: 10px;
   padding: 15px;
   background: var(--primaryText);
   filter: drop-shadow(6px 6px 6px var(--primary));
   box-shadow: 2px 3px 5px var(--cartonText);
   color: var(--cartonText);
   user-select: none;
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 15px;
   font-weight: 700;
   text-transform: capitalize;
   transition: all .4s ease-in-out;
   position: relative;
}
#showw:hover{
   background: var(--carton);
   color: var(--cartonText);
   transform: scale(1.05);
}
@media (max-width: 500px) {
   .hide-content{
      display: none;
   }
   .hide-sub-cont{
      background: none !important;
      border-radius: 50%;
      overflow: hidden;
   }
   .cnnct{
      width: max-content;
   }
   .sub-cont{
      width: max-content;
   }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(.1875rem);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0);
	}
}