.dashboard{
   position: relative;
   min-height: 100vh;
   background-image: url('/public/images/wireframe.svg');
   background-size: 40%;
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: bottom;
}.logout{
   position: absolute;
   bottom: 10px;
   z-index: -30;
   right: 2rem;
}
.welcome-text{
   margin: 0 0 1rem;
   background-color: var(--primaryText);
   box-shadow: var(--boxShadow);
   padding: 1rem;
}

#add--task--btn{
   margin-top: 1rem;
}

/* ======MODAL STYLING ====== */
#modal{
   width: 300px;
   background: var(--primaryText);
   margin: 0 0 2rem;
   border-radius: 0 0 10px 10px;
   box-shadow: var(--boxShadow);
   transition: all 1s ease-in-out;
}
.modal-btn{
   margin: 0 1rem 3rem;
   font-size: 12px;
   padding: .5rem;
   text-transform: uppercase !important;
   letter-spacing: 2px;
}
.modal-header{
   display: flex;
   justify-content: space-between;
   background-color: var(--primary) ;
   color: var(--primaryText);
   padding: .2rem;
}
.x{
   padding: 0  .5rem;
   background: red;
   cursor: pointer;
}
.show{
   display: block;
   position: absolute;
   bottom: 0px;
   left: 80px;
}
.hidden{
   display: none;
}
.modal-input{
   margin: 2rem 1rem 0;
}
.hide-btn{
   visibility: hidden;
   pointer-events: none;
   transition: none;
}
@media (max-width: 900px){
   .dashboard{
      background-size: 80%;
      background-position: center;
   }
}